body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}

.logo {
    margin: 16px;
    display: flex;
    flex-direction: column;
}
.trigger:hover {
    color: #fff;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    color: #cccccc;
}

.site-layout .site-layout-background {
    background: #16171b;
    color: #fff;
}

.logo-img {
    height: 3rem;
}
